body {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 22px;
}

h1 {
    font-size: 32px;
    margin: 15px 0;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
p {
    margin: 15px 0;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #0065FC;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
}

header {
    margin: 0 60px 15px 40px;
}
@media screen and (max-width: 992px) {
    header {
        margin: 0;
    }
    header h1, header p {
        margin-left: 20px;
        margin-right: 20px;
    }
}

header img {
    width:190px;
    margin-left: 10px;
    margin-top: 60px;
}
@media screen and (max-width: 768px) {
    header img {
        margin:0;
        width: 100px;
    }
    #logo {
        margin:25px auto;
    }
}

#navbar {
    display: flex;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    padding: 60px 42px;
    border-top: 4px solid #FFFFFF;
}

nav a:hover {
    border-top: 4px solid #0065FC;
}

@media screen and (max-width: 992px) {
    #navbar {
        flex-direction: column;
        width: 100%;
    }
    nav {
        display: flex;
        text-align: center;
    }
    nav a {
        padding: 10px 20px;
        flex: 1;
        border-top: none;
        border-bottom: 4px solid #FFFFFF;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 4px solid #0065FC;
    }
}

main {
    margin: 0 40px;
}
@media screen and (max-width: 992px) {
    main {
        margin: 0 20px;
    }
}
@media screen and (max-width: 768px) {
    main {
        margin: 0;
    }
}

#searchbar {
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    overflow: hidden;
    width: fit-content;
    display:flex;
    vertical-align: middle;
    margin: 26px 0;
    font-size: 26px;
}

#searchlogo {
    background-color: #F2F2F2;
    width: 66px;
    height: 66px;
    text-align: center;
    display: flex;
    align-items: center;
}

#searchlogo i {
    margin:auto;
}

#searchbar input {
    border: none;
    padding-left: 30px;
    font-size: 26px;
    font-weight: bold;
}

#searchbar button {
    border: none;
    text-align: center;
    background-color: #0065FC;
    padding: 18px 18px;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
}

#searchbar .fa-search {
    display: none;
}
@media screen and (max-width: 992px) {
    #searchbar {
        border-radius: 14px;
        margin-right: 0;
        margin-left: 20px;
    }
    #searchbar, #searchbar input {
        font-size: 18px;
    }
    #searchbar input {
        padding-left: 10px;
        width: 70%;
    }
    #searchlogo {
        width: 49px;
        height: 49px;
    }
    #searchbar span {
        display:none;
    }
    #searchbar button {
        border-radius: 14px;
        padding: 12px 17px;
        font-size: 18px;
    }
    #searchbar .fa-search {
        display:inline-block;
    }
}

#filterlist {
    margin: 60px 0;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

#filterlist h2 {
    display: inline-block;
    margin-right:24px;
    font-size: 28px;
    margin-left: 20px;
}

.filters {
    overflow: visible;
    height:60px;
    border: 3px solid #D9D9D9;
    border-radius: 32px;
    margin: 0 16px;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.filters:hover {
    overflow: hidden;
    border-color: #0065FC;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 15px #0065FC;
}

.filtericons {
    background-color: #DEEBFF;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    position: relative;
    left: -4px;
    font-size: 24px;
}

.filters i {
    margin: auto;
    color: #0065FC;
}

.filterlabels {
    margin: 0 16px;
    font-size: 24px;
    font-weight: 700;
    padding-right: 20px;
}

@media screen and (max-width: 992px) {
    #filterlist h2 {
        font-size: 24px;
        width: 100%;
        margin: 0;
    }
    .filters {
        height:50px;
        border: 3px solid #D9D9D9;
        border-radius: 26px;
        margin: 0 16px;
    }
    .filtericons {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        font-size: 24px;
    }
    .filterlabels {
        margin: 0 16px;
        font-size: 24px;
        font-weight: 700;
        padding-right: 20px;
    }
}
@media screen and (max-width: 768px) {
    #filterlist {
        margin: 0;
        margin-left: 20px;
        gap: 10px;
    }
    #filterlist h2 {
        font-size: 18px;
    }
    .filters {
        height:46px;
        border: 2px solid #D9D9D9;
        border-radius: 24px;
        margin: 0 6px 8px 0;
    }
    .filtericons {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
    }
    .filterlabels {
        margin: 0 8px;
        font-size: 16px;
        font-weight: 700;
        padding-right: 8px;
    }
}

#infos {
    font-size: 22px;
    display: flex;
    align-items: baseline;
    margin-left: 20px;
    margin-bottom: 80px;
}

#info-icon {
    border: 2px solid #D9D9D9;
    width:33px;
    height: 33px;
    border-radius: 26px;
    display:flex;
    align-items: center;
    color: #0065FC;
    font-size: 16px;
    margin-right: 20px;
}
#info-icon i {
    margin:0 auto;
}
@media screen and (max-width: 768px) {
    #infos {
        font-size: 16px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #info-icon {
        width: 26px;
        min-width: 26px;
        max-width: 26px;
        height: 26px;
        min-height: 26px;
        min-height: 26px;
        border-radius: 15px;
        font-size: 10px;
        margin-right: 10px;
    }
}

.cards {
    box-shadow: 2px 2px 15px #DCDCDC;
    overflow: hidden;
    border-radius: 25px;
}
.cards p {
    font-size: 18px;
}
@media screen and (max-width: 992px) {
    .cards {
        border-radius: 40px;
    }
    .cards p {
        font-size: 18px;
    }
    .cards i {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .cards {
        border-radius: 18px;
    }
    .cards p {
        font-size: 14px;
    }
    .cards i {
        font-size: 14px;
    }
}
.ratings-full {
    color: #0065FC;
}

.ratings-empty {
    color: #F2F2F2;
}

#hebergement {
    display: flex;
    gap: 40px;
    margin-bottom: 64px;
}

#lodging-list {
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 34px;
    width: 92%;
    padding-top: 20px;
}
#lodging-list h2 {
    width: 92%;
    margin: auto;
}

#lodging-cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92%;
    margin: auto;
    row-gap: 40px;
}

#lodging-cards p {
    margin: 5px 15px;
}
#lodging-cards h3 {
    margin-block-start: 12px;
    margin-left:15px;
}
#lodging-cards > div {
    width: 30%;
}

.lodging-card {
    margin: 0;
    border: 6px solid #ffffff;
    overflow: hidden;
    background-color: #ffffff;
    height:100%;
}

.lodging-card:hover {
    border-color: #DEEBFF;
    background-color: #DEEBFF;
    box-shadow: 2px 2px 15px #0065FC;
}

.lodging-card_picture-viewer {
    display: flex;
    width: 100%;
    height: 152px;
    align-items: center;
    overflow: hidden;
}

.lodging-card_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    #lodging-cards {
        row-gap: 20px;
    }
    #lodging-cards p {
        margin: 5px 10px;
    }#lodging-cards > div {
        width: 90%;
    }
    .lodging-card {
        margin: 20px 0;
        width: 100%;
        height: 190px;
    }
    .lodging-card h3 {
        margin: 5px 10px;
    }
    .lodging-card_picture-viewer {
        width: 100%;
        height: 114px;
    }
    .lodging-card_picture{
        width: 100%;
        height: 114px;
        object-fit: cover;
    }
}

.show-more {
    margin-top: 36px;
    margin-left: 46px;
    margin-bottom: 60px;
    font-weight: 700;
    
}
.show-more a {
    font-size: 26px;
}


#top-lodgings {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 34px;
}

#top-lodgings_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin: auto;
}
#top-lodgings_header i {
    font-size: 36px;
}

@media screen and (max-width: 1280px) {
    .top-lodging-description h3, #lodging-cards h3 {
        font-size: 22px;
    }
    .top-lodging-description p, .top-lodging-description i, #lodging-cards p, #lodging-cards i {
        font-size: 16px;
    }
    
}


@media screen and (max-width: 992px) {
    #hebergement {
        flex-direction: column;
        gap: 40px;
        margin-bottom: unset;
    }
    #top-lodgings {
        order: 1;
    }
    #lodging-list {
        order: 2;
        border-radius: 0;
        background-color: #FFFFFF;
    }
    #lodging-list h2 {
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    #top-lodgings {
        border-radius: 0;
        min-width: unset;
    }
    #top-lodgings_header h3, #top-lodgings_header i {
        font-size: 24px;
    }
}

#top-lodging-cards {
    margin: 5px 0;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height:85%;
}
#top-lodging-cards > div {
    width:100%;
    height: 30%;
    flex: 1 1 auto;
    
}

.top-lodging-card {
    border: 6px solid #ffffff;
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 85%;
}

.top-lodging-card:hover {
    border-color: #DEEBFF;
    background-color: #DEEBFF;
    box-shadow: 2px 2px 15px #0065FC;
}

.top-lodging-card__picture-viewer {
    width: 38%;
    overflow: hidden;
    
}

.top-lodging-card__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:0;
}

.top-lodging-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62%;
    padding-left:26px;
}
.top-lodging-description h3 {
    margin-top: 12px;
}
.top-lodging-description p {
    margin: 5px 0;
}

@media screen and (max-width: 992px) {
    #top-lodgings_header {
        width: 90%;
    }
    #top-lodging-cards > div {
        width: 90%;
        margin:auto;
        height: 164px;
        margin-bottom: 0;
    }
    .top-lodging-description p, .top-lodging-description i {
        font-size: 18px;
    }
    #lodging-list {
        width: 100%;
        margin: auto;
    }
    .top-lodging-card {
        width: 100%;
        margin: 0;
    }
    
}
@media screen and (max-width: 768px) {
    .lodging-card {
        margin: 0 auto;
        width: auto;
        margin-bottom: 0;
    }
    #lodging-cards h3, .top-lodging-description h3 {
        font-size: 16px;
    }
    #lodging-cards p, #lodging-cards i, .top-lodging-description i {
        margin: 5px 0;
        font-size: 12px;
    }
    #lodging-cards p, #lodging-cards > span {
        margin-left: 14px;
    }

    #lodging-cards {
        margin-top: 20px;
    }
    #lodging-cards > div {
        width: 100%;
    }
    .top-lodging-card {
        height: 134px;
        width:auto;
    }
    .top-lodging-card_picture {
        width: 128px;
        height: 134px;
    }
    .top-lodging-description h3 {
        margin: 10px 0 0 0;
    }
    .top-lodging-description p{
        font-size: 14px;
    }
}

#activites h3 {
    margin-left: 15px;
    margin-right: 10px;
}
@media screen and (max-width: 992px) {
    #activites h3 {
        font-size: 18px;
    }
}


#activity-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

#activity-box a:hover > .cards{
    color: #0065FC;
    background-color: #DEEBFF;
    box-shadow: 2px 2px 15px #0065FC;
}

#activity-box > div {
    width: 22%;
}

.activity-card-portrait {
    height: 100%
}

.portrait-picture-viewer {
    width: 100%;
    height: 520px;
    overflow: hidden;
}

.portrait-picture-viewer img {
    width: 100%;
    height: 595px;
    object-fit: cover;
}

.landscapes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-card-landscape-big {
    width: 100%;
}

.landscape-big-picture-viewer {
    width: 100%;
    height: 240px;
    overflow:hidden;
}

.landscape-big-picture-viewer img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.activity-card-landscape-small {
    width: 100%;
}

.landscape-small-picture-viewer {
    width: 100%;
    height: 148px;
    overflow:hidden;
}

.landscape-small-picture-viewer img {
    width: 100%;
    height: 222px;
    object-fit: cover;
}

.activity-card-landscape-half {
    width: 100%;
}

.landscape-half-picture-viewer {
    width: 100%;
    height: 190px;
    overflow: hidden;
}

.landscape-half-picture-viewer img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    #activity-box {
        flex-wrap: wrap;
        row-gap: 40px;
    }
    #activity-box > div {
        width: 47.5%;
    }
    #activity-box > div:nth-child(4) {
        order: 2;
    }
    #activity-box > div:nth-child(3) {
        order: 3;
    }

}

@media screen and (max-width: 768px) {
    #activity-box {
        flex-direction: column;
        gap: 24px;
    }
    #activites h2 {
        margin-left: 5%;
    }
    .landscapes {
        gap: 24px;
    }
    #activity-box > div {
        width: 90%;
        margin: auto;
    }
    .portrait-picture-viewer, .landscape-big-picture-viewer, .landscape-small-picture-viewer, .landscape-half-picture-viewer {
        height: 134px;
    }
    .portrait-picture-viewer img, .landscape-big-picture-viewer img, .landscape-small-picture-viewer img, .landscape-half-picture-viewer img {
        height: 100%;
    }
}


footer > div {
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    padding-bottom: 30px;
}

footer h3 {
   margin: 60px 0 20px 0;
}

footer a {
    color:#000000;
    text-decoration: none;
    display:inline-block;
    margin: 10px 0;
}

footer a:hover {
    color:#0065FC;
    text-decoration: none;
}
@media screen and (max-width: 992px) {
    footer h3 {
        font-size: 22px;
    }
    footer a {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    footer  > div{
        flex-direction: column;
        padding-left: 56px;
    }
    footer h3 {
        font-size: 18px;
    }
    footer a {
        font-size: 16px;
    }
}